.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;

  list-style: none;
}

.main-menu--header {
  column-gap: 46px;
}

.main-menu__item {
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.main-menu__item:first-of-type {
  padding-left: 0;
}

.main-menu__item:last-of-type {
  padding-right: 0;
}

.main-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  text-decoration: none;
  color: #1F1E25;
}

.main-menu__link:first-of-type {
  padding-left: 0;
}

.main-menu__link:last-of-type {
  padding-right: 0;
}