.slider-controls {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.slider-controls__button {
  width: 52px;
  height: 52px;

  border-radius: 50%;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #D7D9DF;
  font-size: 0;

  background-image: url(../../img/icon-arrow-back-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.slider-controls__button[disabled] {
  background-image: url(../../img/icon-arrow-back-inactive.svg);
}

.slider-controls__button--prev {
  transform: rotate(180deg);
}
