.header-main {
  background-color: #F6F7FF;
}

.header-main__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #1F1E25;
  text-decoration: none;
}

.header-main__logo-image {
  display: flex;

  margin-right: 19px;
}

.header-main__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main__logo-heading-wrapper {
  margin: 0;
}

.header-main__logo-heading {
  display: block;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.13em;
  color: #48494D;
  text-transform: uppercase;
}

.header-main__logo-subheading {
  display: block;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.13em;
  color: #48494D;
  text-transform: uppercase;
}
